<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockMarket"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/IStockMarket" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockMarket" 
                      contract="ServiceReference1.IStockMarket" name="BasicHttpBinding_IStockMarket" behaviorConfiguration="WcfPerformanceCounters"/>
        </client>



      <extensions>
        <behaviorExtensions>
          <add name="WcfPerformanceCounters" type="WcfPerformanceCounters.WcfPerformanceCountersBehaviorExtensionElement, WcfPerformanceCounters"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="WcfPerformanceCounters">
            <WcfPerformanceCounters/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
