<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="All" />
    
    <extensions>
      <behaviorExtensions>
        <add name="ServiceModelTimeTakenExtensionName" type="ServiceModelTimeTaken.ServiceModelTimeTakenBehaviorExtensionElement, ServiceModelTimeTaken, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceModelTimeTakenBehavior">
          <!-- only performance counters -->
          <ServiceModelTimeTakenExtensionName />

          <!-- performance counters and capture a dump -->
          <!--<ServiceModelTimeTakenExtensionName captureDumpAfterSeconds="180" 
                                              dumpCmd="c:\temp\captureDumpCmd.bat" 
                                              dumpLimit="13" 
                                              pollIntervalSeconds="60" />-->
          
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MexBehavior" name="Host.StockMarket">
        <clear/>
        <endpoint behaviorConfiguration="ServiceModelTimeTakenBehavior"
                  binding="basicHttpBinding"
                  contract="Host.IStockMarket"
                  listenUriMode="Explicit"/>
        <endpoint address="mex"
                  binding="basicHttpBinding"
                  bindingConfiguration=""
                  contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/IStockMarket"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>  
</configuration>