<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="All" />

    <behaviors>
     
      <serviceBehaviors>
        <behavior name="MexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MexBehavior" name="Host.StockMarket">
        <clear/>
        <endpoint 
                  binding="basicHttpBinding"
                  contract="Host.IStockMarket"
                  listenUriMode="Explicit"/>
        <endpoint address="mex"
                  binding="basicHttpBinding"
                  bindingConfiguration=""
                  contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/IStockMarket"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>  
</configuration>